<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.waynejackson.okhttpexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".asynctask.AsyncTaskExampleActivity"
            android:label="@string/async_task_example">

        </activity>

        <activity android:name=".handler.HandlerExampleActivity"
            android:label="@string/handler_example">

        </activity>

        <activity android:name=".loader.LoaderExampleActivity"
            android:label="@string/loader_example">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>